<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jquery html</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="1.get.js"></script>
    <script src="2.set.js"></script>
    <script src="3.add.js"></script>
    <script src="4.remove1.js"></script>
    <script src="5.css_classes.js"></script>
    <script src="6.css().js"></script>
    <script src="7.dimensions.js"></script>
    <link rel="stylesheet" href="html.css">  
</head>
<body>
    
    <div class="get" style="display: none;">
        <div id="test">I am test text</div>
        <a href="#test" id="testify">test</a>
        <input type="text" name="" id="text">
        <button class="btn1">return text</button>
        <button class="btn2">return html</button>
        <button class="btn3">return val</button>
        <button class="btn4">return attr</button>
    </div>
    
    <div class="set" style="display: nonew2;">
        <button class="text1">text</button>
        <button class="html1">html</button>
        <button class="val">val</button>
        <button class="attr1">attr</button>

    </div>

    <div class="add">
        <img src="https://www.w3schools.com/images/w3jquery.gif" alt="">
        <p class="p1">paragraph one</p>
        <p class="p2">paragraph two</p>
        <p class="p3">paragraph three</p>
        <p class="p4">paragraph four</p>
        <button class="css_class">get css class</button>
        <br>
        <br>
        <button class="dime">dimension</button>
    </div>
</body>
</html>